body {
    font-family: Arial, sans-serif;
}
nav {
    width: 100%;
    height: 60px;
    background: #344051;
}
.logo {
    color: #fff;
    font-size: 28px;
    line-height: 60px;
    padding-left: 388px;
    float: left;
}
.menu {
    float: left;
    padding left: 430px;
}

.menu li {
    float: left;
    line-height: 60px;
    color: #fff;
    margin-right: 40px;
    font-size; 16px;
    text-transform: uppercase;
}
.main {
    width: 100%;
    height: calc(100% - 60px);
    background: url(../image/%D0%9F%D0%B0%D1%80%D0%B5%D0%BD%D1%8C.png) 90% 100%/auto 85% no-repeat , url(../Image/%D1%84%D0%BE%D0%BD.jpg) center/cover no-repeat;
    
}

.title__container {
    float: left;
    margin: 430px 0px 0px 404px;
    color: #2e3a4c;
    text-align: center
    
}

.title__container h1{
    font-size: 60px;
    font-weight: bold;
}

.title__container h4 {
    margin-top: 40px;
    font-size: 22px;
    color: #b3b7bf;
    
}
.title__container input{
    height: 40px;
    text-align: center;
    border: 2px solid: #6d7682;
    background: none;
    border-radius: 5px;
    color: #6d7682;
    font-size: 13px;
    padding: 0px 16px;
    margin: 50px 14px 0px 14px;
}


.section {
    float: center;
    text-align: center;
    background: none;
    margin-top: 100px;
    font-size: 15px;
    
}
.section h3 {
    font-size: 40px;
    color: #263244;
    text-decoration: underline;
    font-weight: bold;
}
.section img {
    margin-top: 130px;
}

.section p {
    color: #6e7783;
    margin-top: 25px;
    font-size: 15px;
    word-spacing: 0px;
    line-height: 15px;
    font-weight: 600;

}
.section input {
   height: 35px;
    text-align: center;
    border: 2px solid #6d7682;
    background: none;
    border-radius: 5px;
    color: #6e7783;
    font-size: 13px;
    padding: 0px 16px;
    margin-top: 35px;
    
}
.div Whatcanido {
    width: 100%;
    height: calc(100% - 60px);
    background: url(.../Image/картинка фона что я умею.png) center/cover no-repeat;
}
.section1 {
     float: center;
    text-align: center;
    background: none;
    margin-top: 200px;
    font-size: 15px;
}
.section1 h3 {
    font-size: 40px;
    color: #263244;
    text-decoration: underline;
    font-weight: bold;
}
.section1 img {
    margin-top: 140px;
}
.section1 h4 {
    font-size: 20px;
    color: #cf7600;
    font-weight: 600;
}
.section1 p {
    color: #6e7783;
    margin-top: 25px;
    font-size: 15px;
    word-spacing: 0px;
    line-height: 15px;
    font-weight: 600;
}

.section2 {
     float: center;
    text-align: center;
    background: none;
    margin-top: 0px;
    font-size: 15px;
}
.section2 h4 {
    font-size: 20px;
    color: #cf7600;
    font-weight: 600;
}
.section2 img {
    margin-top: 140px;
}

.section2 p {
    color: #6e7783;
    margin-top: 25px;
    font-size: 15px;
    word-spacing: 0px;
    line-height: 15px;
    font-weight: 600;
}
.section3 {
     float: center;
    text-align: center;
    background: none;
    margin-top: 0px;
    font-size: 15px;
}
.section3 h4 {
    font-size: 20px;
    color: #cf7600;
    font-weight: 600;
}
.section3 img {
    margin-top: 140px;
}

.section3 p {
    color: #6e7783;
    margin-top: 25px;
    font-size: 15px;
    word-spacing: 0px;
    line-height: 15px;
    font-weight: 600;
}
.section4 {
     float: center;
    text-align: center;
    background: none;
    margin-top: 0px;
    font-size: 15px;
}
.section4 h4 {
    font-size: 20px;
    color: #cf7600;
    font-weight: 600;
}
.section4 img {
    margin-top: 140px;
}

.section4 p {
    color: #6e7783;
    margin-top: 25px;
    font-size: 15px;
    word-spacing: 0px;
    line-height: 15px;
    font-weight: 600;
}
.section5 {
     float: center;
    text-align: center;
    background: none;
    margin-top: 0px;
    font-size: 15px;
}